# Virtual environments
.venv/
venv/
env/
langgraph_env3/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db